.main-container {
	position: relative;
}

.noPadding {
	padding: 0;
}

.textoCarritoContainer {
	position: relative;
	left: 25px;
}

.msgLoRe{
	text-align: center;
}

.carritoContainer {
	position: absolute;
	left: 980px;
	color: white;
}
.carritoContainer2 {
	position: absolute;
	left: 1170px;
	color: white;
	text-align: center;	
}

.login-register{
	text-align: center;
}
.login-register a{
		color: black;
	text-decoration: none;
}

.register-form{
max-width: 330px;
padding-top: 50px;
padding-bottom: 50px;
margin: 0 auto;
}
.relativa1 {
	position: relative;
	left: 25px;
}

.relativa2 {
	position: relative;
	left: 26px;
	bottom: 35px;
}

.relativa-carrito {
	position: relative;
	left: -15px;
	top: 42.5px;
	cursor: pointer;
}

.relativa-carrito:hover {
	color: #f0f0f0;
}

.carritoContainer p {
	font-size: 12px;
}

#navBar {
	background: linear-gradient(to right, #f09600, #ef9300);
	height: 70px;
}

#navBar a {
	color: white;
}

.navBarImg {
	border-radius: 6px;
}

.banner {
	width: 100%;
	height: 500px;
}

.bannerMargin {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.logo {
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

.verde {
	border: 1px dashed green;
}

.bannerSeccion {
	width: 100%;
	height: auto;
	margin-left: 14px;
	padding-right: 13px;
	/* 	box-sizing: border-box; */
}

.card-per{
  width: 100%;
  height: auto;
}

.modalPrueba {
	color: black !important;
	margin-top: 6px;
}

.btnmodal {
	background: linear-gradient(to right, #f09600, #ef9300);
	cursor: pointer;
}

.btnmodal:hover {
	background: #e96c01;
}

.sinSub{
	text-decoration: none !important;
}

.trash{
	color: #f09600 !important;
	text-decoration: none !important;
	padding: 7px;
	cursor: pointer;
}

.trash:hover{
	color: #c67b00!important;
}

.btnArticle{
	text-decoration: none !important;
	cursor: pointer;
}

.contenedorProductos{
	margin-left: 80px;
	margin-top: 16px;
}

.imgProducto{
	width: 250px;
	height: 200px;
}

.container-shop{
	padding: 10px 50px 10px 50px;
}
.cardP{
	margin-bottom: 20px;
}

.MarginP{
	margin-bottom: 50px;
	padding: 10px;
	float:right;
}

.MarginP a{
	margin-left: 10px
}
.MarginP p{
	text-align: justify;
}

.btn-shop{
	cursor: pointer
}

.other_prod {
	float: right;
	margin: 20px 90px 60px 10px;
}

.contenedor-arr{
	margin-bottom: 100px;
}
.thumbnail{
	display: block;
padding: 30px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: border .2s ease-in-out;
-o-transition: border .2s ease-in-out;
transition: border .2s ease-in-out;
	
}
#vistaPrevia{
	display: block;
max-width: 100%;
height: auto;
	width: auto;
}
.saleform_product_form{
	display: inline-block;
margin: 15px 0 0 0;
width: 100%;
border: 1px solid #e5e5e5;
padding: 20px 35px;
	
}
.panel-body h4{
	border-bottom: 1px solid #ddd;
}
.imgPrin{
	text-align: center;
margin-bottom: 15px;
width: 100%;
margin: 0 auto 20px auto;
display: block;
	
}
.imgThumb{
	border: 1px solid #eee;
padding: 8px;
margin: 0 0 9px 0;
cursor: pointer;
display: block;
max-width: 100%;
height: auto;
	
}
.price-prod{
	font-size: 20px
}

#btnIngresar{
	cursor:pointer
}

h1{
	text-align: center;
}

.container-shop p{
	text-align: center;
}

.cant-prod{
	width: 50px;
}