.footer {
	background: linear-gradient(to right, #f09600, #e96d00);
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

.paddingTelefono{
	padding-right: 60px;
}

.imgMarginTop{
	margin-top: 20px;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
}

.formulario {
	display: flex;
	width: 400px;
	color: white;
	padding: 50px 10px;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}

.col1 {
	margin-right: 15px;
}

.col2 {
	align-items: flex-start;
}

.intereses label {
	font-size: 12px;
}

.formulario label, .sexo, .intereses {
	margin-bottom: 10px;
}

.sexo {
	margin-top: 10px;
}

.contenedor {
  width: 800px;
  margin: auto;
}

.button{
	margin-top: 6px
}