html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  bottom: 0;
  width: 100%;
  height: auto;
  color: white;
  position: absolute;
}

.footerG {
	background: linear-gradient(to Right, #e96b02, #ef9400);
	height: auto;
	display: flex;
	text-align: center;
	margin-top:30px;
}

.marginTextFooter{
	margin: 30px 50px 20px 50px;
}